* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --Raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
}

/* Young Serif - 400 */
@font-face {
    font-family: 'Young Serif';
    src: url('C:\projects\recipe_ui_practice\public\assets\fonts\young-serif\YoungSerif-Regular.ttf') format('woff2'),
        url('C:\projects\recipe_ui_practice\public\assets\fonts\young-serif\YoungSerif-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Outfit - 400 */
@font-face {
    font-family: 'Outfit-400';
    src: url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-Regular.ttf') format('woff2'),
        url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Outfit - 600 */
@font-face {
    font-family: 'Outfit-600';
    src: url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-SemiBold.ttf') format('woff2'),
        url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-SemiBold.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Outfit - 700 */
@font-face {
    font-family: 'Outfit-700';
    src: url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-ExtraBold.ttf') format('woff2'),
        url('C:\projects\recipe_ui_practice\public\assets\fonts\outfit\static\Outfit-ExtraBold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
}

.recipe-container{
    width: 50%;
    margin:100px auto ;
    color: var(--wengeBrown);
    padding: 50px;
    border-radius: 20px;
    background-color:var(--white);
    
}

.imageBox{
   
}

img{
    width: 100%;
    border-radius: 20px;
}
.recipe-intro{
    margin: 50px 0px;
}
.recipe-title{
    font-family: "Young Serif";
    color: var(--darkCharcoal)
}
.recipe-description{
    font-family:"Outfit-400" ;
    font-size: 16px;
    margin: 30px 0;
}

.recipe-preparation-time{
    background-color: var(--roseWhite);
    padding: 30px 50px ;
    border-radius: 20px;
    font-family:"Outfit-400" ;

}

.recipe-preparation-title{
    font-family:"Outfit-600";
    color:var(--Raspberry);
}

.recipe-preparation-time ul {
    margin: 10px 0px;
}

.recipe-preparation-time ul > li {
    padding-left: 20px;
    margin:10px 0;
}

.recipe-preparation-time ul li span{
    font-family: "Outfit-600";  
}

.recipe_ingredients{
   border: 1px solid;
   margin: 50px 0px;
   font-family:"Outfit-400" 
}

.recipe_ingredients_title{
    color: var(--nutmeg);
    font-family: "Young Serif";
    font-size: 24px;
    word-spacing:20px;
}

.recipe_ingredients ul li {
    margin:10px 0;
    padding-left: 20px;
}